/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f6f8;
    color: #333;
}

.main-content {
    margin-left: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #3a8bea;
    background-color: #3a8bea;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar h2 {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    flex-grow: 1;
}

.nav-links li {
    margin-bottom: 20px;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: #3070b9;
}

.nav-links a svg {
    margin-right: 10px;
    fill: #ecf0f1;
    width: 20px;
    height: 20px;
}

.nav-icon h2 {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.logo {
    display: flex;
    padding-bottom: 40px;
}

.logo img {
    width: 100%;;
} */